{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Healing Hands | About Us</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

</head>
<body>
    <!-- ----------------------------------------NAVBAR----------------------------------------------------->
    <nav class="nav nav_top">
        <div class="logo">
            <a class='logos' href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" width="250"></a>
        </div>
        <div class="nav_side">
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'about' %}">ABOUT US</a>
            <a href="{% url 'donate' %}">DONATE</a>
            <a href="{% url 'contact' %}">CONTACT</a>
        </div>
    </nav>
    <!-- --------------------------------------------MAIN----------------------------------------------------------->
    <div class="main_about">
        <div class="main_content_about">
            <h2>What We Do?</h2>
        </h2>
        </div>
    </div>
    <!-- -------------------------------------------ABOUT US--------------------------------------------------------->
    <!-- --------------------------------------------HOW WE HELP--------------------------------------------------------->
    <div class="product">
        <h2>HOW WE HELP</h2>
        <div class="product_container">

            <div class="item">
                <div class="item_img">
                </div>
                <div class="item_content">
                    <h3>Supporting Early Detection</h3><br>
                    <p>Supporting Early Detection helps fund research and screenings to catch lung cancer early, increasing survival rates for all ages.</p>
                    <br><br><br>
                </div>
            </div>

            <div class="item">
                <div class="item_img">
                </div>
                <div class="item_content">
                    <h3>Advancing New Treatments</h3><br>
                    <p>Advancing Research for New Treatments funds innovative therapies to improve outcomes and offer hope to lung cancer patients.</p>
                    <br><br>
                </div>
            </div>

            <div class="item">
                <div class="item_img">
                </div>
                <div class="item_content">
                    <h3>Accelerating Clinical Trials</h3><br>
                    <p>Accelerating Clinical Trials for Lung Cancer speeds up research and treatment breakthroughs, bringing hope to patients and improving outcomes.</p>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- --------------------------------------------FOOTER-------------------------------------------------------->
    <footer>
        <div class="pages"> 
            <a href="index.html"><img class="aimg" src="{% static 'images/logo.png' %}" width="250"></a> 
            <p>Healing Hands provides care for lung cancer patients by empowering their caregivers with compassion, integrity, and excellence. Our mission is to support individuals impacted by lung cancer, ensuring they receive the care and support needed to reach their fullest potential and live with hope and dignity.</p>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://x.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="doc">
            <h3>Navigation</h3>
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'about' %}">ABOUT US</a>
            <a href="{% url 'donate' %}">DONATE</a>
            <a href="co{% url 'contact' %}">CONTACT</a>
        </div>
        <div class="contact">
            <h3>Contact Us</h3>
            <a href="contact">802 Central st,<br> Water Valley MS - 38965</a>
            <a href="tel: +910000000000">662-200-7815</a>
            <a href="mailto: ppppppp@gmail.com">healinghands@gmail.com</a>
            <a href="https://github.com/pat-man-noman/donationdjango-proj">Source Code</as>
        </div>
        <div class="social">
            <h3>Support</h3>
            <p>Join us in building hope and a brighter future for those battling lung cancer.</p>
            <div class="side_btn">
                <a href="donate.html">JOIN US TODAY</a>
            </div>
        </div>
        <hr>
        <p>Copyright &copy; 2025 Healing Hands. All rights reserved.</p>
    </footer>
</body>
</html>