{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stripe Checkout Sample</title>
    <meta name="description" content="A demo of Stripe client-only Checkout" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <div class="sr-root">
      <div class="sr-main">
        <header class="sr-header">
          <a href="./" class="sr-header__logo"></a>
        </header>
        <div class="sr-payment-summary completed-view">
          <h1>Your test payment was canceled</h1>
          <h4>Checkout Session ID: <span id="session"></span></h4>
        </div>
      <div class="sr-content">
        <div class="pasha-image-stack">
          <img
            src="{% static 'images/cancc.jpg' %}"
            width="140"
            height="160"
          />
          <img
            src="{% static 'images/canc2.jpg' %}"
            width="140"
            height="160"
          />
          <img
            src="{% static 'images/canc3.jpg' %}"
            width="140"
            height="160"
          />
        </div>
      </div>
    </div>
    <a class="re" href="{% url 'home' %}">HOME</a>
    <script>
      var urlParams = new URLSearchParams(window.location.search);

      if (urlParams.has("session_id")) {
        document.getElementById("session").textContent = urlParams.get(
          "session_id"
        );
      }
    </script>
  </body>
</html>