{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Healing Hands | Contact</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

</head>
<body>
    <!-- ----------------------------------------NAVBAR----------------------------------------------------->
    <nav class="nav nav_top">
        <div class="logo">
            <a class='logos' href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" width="250"></a>
        </div>
        <div class="nav_side">
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'about' %}">ABOUT US</a>
            <a href="{% url 'donate' %}">DONATE</a>
            <a href="{% url 'contact' %}">CONTACT</a>
        </div>
    </nav>
    <!-- --------------------------------------------CONTACT-------------------------------------------------------->
    <div class="contact_container" style="padding-top:100px;">
        <h2>CONTACT US</h2>
        <div class="g_map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1732.0995742644432!2d-89.63117102083035!3d34.15606875189647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8880417094171f9b%3A0xc25d16a25e2d6f9c!2sBase%20Camp%20Coding%20Academy!5e0!3m2!1sen!2sus!4v1735664931345!5m2!1sen!2sus" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="contact_content">
            <p>We want to hear from you! Drop us a note and someone from our team will get back to you.
                Looking to support us in any other ways? Call +16622007815.
                Have a question that involves Healing Hands? Please head on over to our Locations page to reach our locations.</p>
            <p><b>Call: +16622007815</b></p>
            <p><b>Mail: support.healinghands@gmail.com</b></p>
        </div>
    </div>
    <!-- --------------------------------------------FOOTER-------------------------------------------------------->
    <footer>
        <div class="pages"> 
            <a href="index.html"><img class="aimg" src="{% static 'images/logo.png' %}" width="250"></a> 
            <p>Healing Hands provides care for lung cancer patients by empowering their caregivers with compassion, integrity, and excellence. Our mission is to support individuals impacted by lung cancer, ensuring they receive the care and support needed to reach their fullest potential and live with hope and dignity.</p>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="doc">
            <h3>Navigation</h3>
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'about' %}">ABOUT US</a>
            <a href="{% url 'donate' %}">DONATE</a>
            <a href="co{% url 'contact' %}">CONTACT</a>
        </div>
        <div class="contact">
            <h3>Contact Us</h3>
            <a href="contact">802 Central st,<br> Water Valley MS - 38965</a>
            <a href="tel: +910000000000">662-200-7815</a>
            <a href="mailto: ppppppp@gmail.com">charityjet@gmail.com</a>
        </div>
        <div class="social">
            <h3>Support</h3>
            <p>Join us in building hope and a brighter future for those battling lung cancer.</p>
            <div class="side_btn">
                <a href="{% url 'donate' %}">JOIN US TODAY</a>
            </div>
        </div>
        <hr>
        <p>Copyright &copy; 2025 Healing Hands. All rights reserved.</p>
    </footer>
</body>
</html>